.next-to {
    /* background-image: url('./images/right.png'); */
    background-size: contain;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.prev {
    transform: rotate(180deg);
    /* background-image: url('./images/right.png'); */
    background-size: contain;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
